ENV=prod
HTTP_ADDRESS=""
HTTP_PORT=8080
HTTP_TIMEOUT=60s
HTTP_IDLE_TIMEOUT=120s
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_DATABASE=postgres

DATABASE_URL=postgres://postgres:postgres@localhost:5432/postgres
LOG_LEVEL=debug
LOG_FORMAT=json
JWT_SECRET=abcdefgh

HTTP_FORWARD_PORT=80

# Provider configuration
PROVIDER_AUTONOMERA_BASE_URL=https://autonomera777.net/ajax/
PROVIDER_AUTONOMERA_TIMEOUT=60s
PROVIDER_BATCH_SIZE=20
PROVIDER_START_POSITION=0
PROVIDER_STOP_AFTER=72h
PROVIDER_RATE_LIMIT_DELAY=1s