ENV=prod

# --- HTTP ---
HTTP_ADDRESS=""
HTTP_PORT=8080
HTTP_FORWARD_PORT=80
HTTP_TIMEOUT=60s
HTTP_IDLE_TIMEOUT=120s

JWT_SECRET=abcdefgh

# --- Логи ---
LOG_LEVEL=debug
LOG_FORMAT=json

# --- База ---
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_DATABASE=postgres

DATABASE_URL=postgres://postgres:postgres@data-db:5432/postgres
DATABASE_MIGRATIONS_PATH=./migrations

# --- Провайдер autonomera777 ---
AUTONOMERA_BASE_URL=https://autonomera777.ru
# Сколько строк провайдер отдаёт на странице выдачи
AUTONOMERA_BATCH_SIZE=20
