ENV=development

# --- HTTP ---
HTTP_ADDRESS=""
HTTP_PORT=8080
HTTP_TIMEOUT=60s
HTTP_REQUEST_TIMEOUT=30s
HTTP_IDLE_TIMEOUT=120s

# --- Логи ---
LOG_LEVEL=debug
LOG_FORMAT=json

# --- База ---
DATABASE_URL=postgres://<CORE_DATABASE_USER>:<CORE_DATABASE_PASSWORD>@db:5432/core-service?sslmode=disable
DATABASE_MIGRATIONS_PATH=./migrations

PLATE_URL=http://plate-api:8080
PLATE_TIMEOUT=10s

ML_URL=http://ml-api:8000
ML_TIMEOUT=10s
